<div class="wrapper" layout-fill layout="row" layout-align="center center">

  <md-content flex flex-lg="90" flex-xl="70">

    <header layout="column" layout-padding layout-align="center center">
      <div class="md-display-4">Banners</div>
    </header>

    <div class="content" layout="row" layout-xs="column">

      <!--<aside flex>
        <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="true" md-disable-backdrop md-whiteframe="4">
          <md-toolbar layout="row" class="md-hue-3">
            <div class="md-toolbar-tools">
              <span>Sizes</span>
            </div>
          </md-toolbar>
          <ul style="margin:0; padding:0">
            <li ng-repeat="items in main.banners">
              <md-subheader class="md-no-sticky" flex>{{items[0].companyName}}</md-subheader>
              <md-list>
                <md-list-item class="md-1-line" ng-repeat="item in items" ng-click="main.showBanner(item)">
                  {{item.width}}x{{item.height}}
                </md-list-item>
              </md-list>
            </li>
          </ul>
        </md-sidenav>
        <div style="margin-top:20px" ng-show="main.showForm"><md-button ng-click="main.show()">Add banner</md-button></div>
      </aside>

      <md-content flex>
        <md-card ng-show="main.showBan">
          <md-card-header>
            <md-card-header-text>
              <span class="md-title">{{main.banner.width}}x{{main.banner.height}}</span>
              <span class="md-subhead">{{main.banner.companyName}}</span>
            </md-card-header-text>
          </md-card-header>
          <iframe src="{{main.banner.url}}" width="{{main.banner.width}}" height="{{main.banner.height}}"></iframe>
        </md-card>
        <div class="add-form" ng-show="main.showForm">
          {{main.msg}}
          <div class="md-headline">{{main.message}}</div>
          <form class="form" name="bannerForm">
            <md-input-container class="md-block">
              <label>Company title</label>
              <input ng-model="newBanner.companyName">
            </md-input-container>
            <md-input-container>
              <label>Width</label>
              <input ng-model="newBanner.width">
            </md-input-container>
            <md-input-container>
              <label>Height</label>
              <input ng-model="newBanner.height">
            </md-input-container>
            <div>
              <md-button class="md-raised md-primary" ng-click="main.addBnr(newBanner)">Add</md-button>
            </div>
          </form>
        </div>
      </md-content>-->

      <banners-component banners="main.banners" msg="main.msg" flex></banners-component>

    </div>

  </md-content>

</div>
